body {
    display: block;
}

#globalLoader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #globalLoader .corners {
    width: 60px;
    height: 60px;
    position: relative;
    transform-origin: center;
    -webkit-animation: spin 3s infinite linear;
            animation: spin 3s infinite linear;
  }
  #globalLoader .corner {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #globalLoader .corner::before {
    display: block;
    width: 48%;
    height: 48%;
    border-radius: 0 40% 0 40%;
    content: "";
  }
  @-webkit-keyframes spin1 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin1 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(270deg);
    }
    70% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(270deg);
    }
    70% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(180deg);
    }
    70% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(180deg);
    }
    70% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(90deg);
    }
    70% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(90deg);
    }
    70% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #globalLoader .corner--1 {
    -webkit-animation: spin1 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
            animation: spin1 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #globalLoader .corner--1::before {
    background-color: #44c67f;
  }
  #globalLoader .corner--2 {
    -webkit-animation: spin2 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
            animation: spin2 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #globalLoader .corner--2::before {
    background-color: #ca92de;
  }
  #globalLoader .corner--3 {
    -webkit-animation: spin3 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
            animation: spin3 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #globalLoader .corner--3::before {
    background-color: #44c67f;
  }
  #globalLoader .corner--4 {
    -webkit-animation: spin4 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
            animation: spin4 3s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  #globalLoader .corner--4::before {
    background-color: #44c67f;
  }
  